#sitemap {
  position: fixed;
  top: 0;
  left: 0;
  /* left: -100%; */
  width: 100%;
  height: 100vh;
  background-color: #000000cc;
  backdrop-filter: blur(12.5px);
  z-index: 90;
  display: none;
}
#sitemap .sitemap_header {
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  height: 90px;
  margin: 0 auto;
  padding: 0px 60px;
  position: relative;
}
#sitemap .sitemap_header .logo {
  position: absolute;
  top: 30px;
  left: 60px;
  z-index: 2;
  cursor: pointer;
}
#sitemap .sitemap_header .logo img {
  width: auto;
  height: 30px;
}
#sitemap .sitemap_header .menu_wrap {
  position: absolute;
  top: 28px;
  right: 60px;
  z-index: 2;
}
#sitemap .sitemap_header button#partner_offer {
  border-radius: 500px;
  border: 1px solid #fff;
  display: inline-flex;
  height: 32px;
  padding: 8px 16px;
  flex-shrink: 0;
}
#sitemap .sitemap_header #sitemap_close {
  width: 36px;
  height: 36px;
  margin-left: 36px;
}
#sitemap .sitemap_header #sitemap_close img {
  width: 36px;
  height: 36px;
}

#sitemap .sitemap_body {
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 30px 0px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}
#sitemap .sitemap_body .sitmap_col {
  flex: 1 1 20%;
  padding-left: 24px;
  padding-right: 18px;
  border-left: 1px solid rgba(255, 255, 255, 0.10);
}
#sitemap .sitemap_body .sitmap_col:first-child {
  border-left: none;
}
#sitemap .sitemap_body .sitmap_col:last-child {
  flex-basis: auto;
}

#sitemap .sitemap_body .sitmap_col .title {
  letter-spacing: -0.96px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 50px;
}
#sitemap .sitemap_body .sitmap_col .nav_list {
  gap: 40px;
}
#sitemap .sub_title {
  font-size: 17px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.68px;
  cursor: pointer;
}
#sitemap .sub_nav_list > .sub_title {
  margin-bottom: 10px;
  cursor: unset;
}
#sitemap .sub_nav {
  opacity: 0.7;
  font-size: 16px;
  letter-spacing: -0.64px;
  line-height: normal;
  padding: 7px 0px;
}
#sitemap .sub_nav:hover {
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}
#sitemap .nav_hover:hover.title,
#sitemap .nav_list .nav_hover:hover.sub_title,
#sitemap .nav_list .nav_hover:hover .sub_title {
  color: #1a83ff;
}

/* 미니 PC */
@media screen and (max-width: 1080px) {
  #sitemap .sitemap_header {
    padding: 30px 30px;
  }
  #sitemap .sitemap_header .logo {
    left: 30px;
  }
  #sitemap .sitemap_header .menu_wrap {
    right: 30px;
  }

  #sitemap .sitemap_body {
    width: 100%;
    padding: 0px 30px;
  }
  #sitemap .sitemap_body .sitmap_col {
    /* flex: 1 1 auto; */
    padding-left: 16px;
  }
}

/* 태블릿 이하 */
@media screen and (max-width: 870px) {
}
